$media-pc : 1000px;
$media-phone : 750px; //仮置き

.header {
    background-color: white; //一応
    font-family: Arial black;
    margin-top: 10px;
    
    .headerLeft {
        margin-left: 18px;  
        display: inline-block;
        width: 35%;

        .headerLogo {
            padding-top: 3px;
            float: left;
        }
        .headerTitle {
            padding-top: 32px;
            font-size: 34px;
            transform: scale(0.9,1);
        }
    }
    .headerRight {
        margin-top: 45px;
        float: right;
        a {
            display: inline-block;
            font-size: 20px;
            margin-right: 1.3rem;
            transform: scale(0.9,1);
        }
        
    }
}