/* .main {
    background-image: url(/images/homePage.png) !important;
    background-repeat: no-repeat;
    background-size: 1050px;
    height: 1050px;
    position: fixed;
    top: 0px;
    left: 370px;
    .overall {
        .topMessage {
            top: 100px;
            left: 70px;
            .firstMes {
                font-size: 64px;
                font-weight: 730;
                transform: scale(0.9,1)

            }
            .secondMes {
                font-size: 64px;
                font-weight: 800;
                transform: scale(1.1,1.2);
            }
        }
        .subMessage {
            font-weight: 680;
            font-size: 24px;
        }
        .twoButton {

            .toMember {
                background-color: rgba(85, 250, 85, 0.801);
                width: 200px;
                border-radius: 40px;
                font-size: 20px;
                position: absolute;
                p {
                    position: relative;
                    top: 10px;
                }
            }
            .toDetail {
                background-color: rgba($color: #3272c5, $alpha: 1.0);
                width: 200px;
                border-radius: 40px;
                font-size: 20px;
                position: relative;
                left: 220px;
                p {
                    position: relative;
                    top:  10px;
                }
            }
        }
    }
    
} */

.main {

    .backImage {
        
    }
    .topMessage {}
    .twoButton {}
}